In [1]:
def isprime(n):
    '''check if integer n is a prime'''
    # make sure n is a positive integer
    n = abs(int(n))
    # 0 and 1 are not primes
    if n < 2:
        return False
    # 2 is the only even prime number
    if n == 2: 
        return True    
    # all other even numbers are not primes
    if not n & 1: 
        return False
    # range starts with 3 and only needs to go up the squareroot of n
    # for all odd numbers
    for x in range(3, int(n**0.5)+1, 2):
        if n % x == 0:
            return False
    return True

In [2]:
def isprime(n):
    if n>=0:
        if n<2:
            return False 
        if n == 2:
            return True
        if n % 2 == 0:
            return False 
        for x in range(3, n,2):
            if n % x == 0:
                return False
    else:
        return False

In [3]:
def reverse(x):
    y = []
    for i in x:
        y.append(x[-1]) 
        x = x[:-1]#delete the last character in a string 
    return "".join(y)#convert a list to a string

In [4]:
s = "abcdef"

In [5]:
v = "aeiouAEIOU"

In [6]:
"c" in v

False

In [7]:
def anti_vowel(x):
    v = "aeiouAEIOU"
    y = []
    for i in x:
        if i not in v:
            y.append(i)
    return "".join(y)

In [8]:
x = "Hey You!"

In [9]:
anti_vowel(x)

'Hy Y!'

In [10]:
score = {"a": 1, "c": 3, "b": 3, "e": 1, "d": 2, "g": 2, 
         "f": 4, "i": 1, "h": 4, "k": 5, "j": 8, "m": 3, 
         "l": 1, "o": 1, "n": 1, "q": 10, "p": 3, "s": 1, 
         "r": 1, "u": 1, "t": 1, "w": 4, "v": 4, "y": 4, 
         "x": 8, "z": 10}

In [11]:
def scrabble_score(x):
    x = x.lower()
    total =  0 
    for i in x:
        total = total + score[i]
    return total

In [12]:
scrabble_score("Helix")

15

In [13]:
a = "I am jobless person"

In [14]:
b = a.split()

In [15]:
b

['I', 'am', 'jobless', 'person']

In [16]:
for i in range(len(b)):
        if b[i] == "am":
            b[i] = "*"
" ".join(b)

'I * jobless person'

In [17]:
def censor(text, word):
    ntext = text.split()
    print(ntext)
    for i in range(len(ntext)):
        print(ntext[i])
        if ntext[i] == word:
            ntext[i] = "*" * len(word)
    print(ntext)
    return " ".join(ntext)

In [18]:
text = "hey, hey hey hey"

In [19]:
censor(text, "hey")

['hey,', 'hey', 'hey', 'hey']
hey,
hey
hey
hey
['hey,', '***', '***', '***']

'hey, *** *** ***'

In [20]:
def count(sequence, item):
    cnt = 0
    for i in sequence:
        if i == item:
            cnt+=1
    return cnt

In [21]:
lis = [1,1,1,11,1,1,13,3,3,3,3]

In [22]:
count(lis, 3)

4

In [23]:
count(text, "hey")

0

In [24]:
def purify(l):
    k =[]
    for i in l:
        if i%2 ==0:
            k.append(i)
    return k

In [25]:
l = [1,2,2,3,56,64,23,25,45]

In [26]:
purify(l)

[2, 2, 56, 64]

In [27]:
def product(l):
    cnt = 1
    for i in l:
        cnt = cnt*i
    return cnt

In [28]:
l = [1,2,2,4,5]

In [29]:
product(l)

80

In [30]:
def remove_duplicates(l):
    L = []
    for i in l:
        if i not in L:
            L.append(i)
    return L

In [31]:
remove_duplicates(l)

[1, 2, 4, 5]

In [32]:
def median(l):
    L = sorted(l)
    if len(L)%2==0:
        med = (L[int((len(L))/2) - 1] + L[int((len(L))/2)])/2.0
    else:
        med = L[int((len(L)+1)/2) -1]
    return med

In [33]:
l = [4,5,5,4]

In [34]:
median(l)

4.5

In [35]:
my_dict = {
    "Name": "Khalid",
    "age" : "25",
    "Job" : "Jobless"}

In [36]:
print(my_dict.items())

[('age', '25'), ('Name', 'Khalid'), ('Job', 'Jobless')]

In [37]:
for i in my_dict:
    print(my_dict[i])

25
Khalid
Jobless

In [38]:
for key in my_dict:
    print (key, my_dict[key])

('age', '25')
('Name', 'Khalid')
('Job', 'Jobless')

In [39]:
evens_to_50 = [i for i in range(51) if i % 2 == 0]
print (evens_to_50)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [40]:
doubles_by_3 = [x*2 for x in range(1,6) if (x*2) % 3 == 0]; doubles_by_3

[6]

In [41]:
# Complete the following line. Use the line above for help.
even_squares = [i**2 for i in range(1,12) if i % 2==0]

In [42]:
print(even_squares)

[4, 16, 36, 64, 100]

In [43]:
cubes_by_four = [x**3 for x in range(1,11) if x**3 % 4 ==0]; cubes_by_four

[8, 64, 216, 512, 1000]

In [44]:
l = [i ** 2 for i in range(1, 11)]; l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
l[2:9:2]

[9, 25, 49, 81]

In [46]:
my_list = [i for i in range(1,11)]

In [47]:
my_list[::2]

[1, 3, 5, 7, 9]

In [48]:
backwards = my_list[::-1]

In [49]:
backwards

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
new_list = range(101)

In [51]:
backwards_by_tens = new_list[::-10]

In [52]:
backwards_by_tens

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [53]:
to_21 = range(1,22); to_21

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [54]:
to_21[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [55]:
to_21 = [i for i in range(1,22)]

In [56]:
to_21[7:14:1]

[8, 9, 10, 11, 12, 13, 14]

In [57]:
my_list = range(16)
print(filter(lambda x: x % 3 == 0, my_list))
#the filter takes two arguments, the filtering function and the list that need to be filtered

[0, 3, 6, 9, 12, 15]

In [58]:
my_list = range(16)

In [59]:
r  = list(filter(lambda x: x % 3 == 0, my_list));r

[0, 3, 6, 9, 12, 15]

In [60]:
lambda x: x % 3 == 0

In [61]:
def by_three(x):
    return x % 3 == 0

In [62]:
by_three(9)

True

In [63]:
languages = ["HTML", "JavaScript", "Python", "Ruby"]

In [64]:
list(filter(lambda x: x == "Python", languages))

['Python']

In [65]:
#lambda function is a filtering function, its a method so it should be followed by list (python 3) 
#or a print command (python 2)

In [66]:
cubes = [x**3 for x in range(1,11)]

In [67]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [68]:
list(filter(lambda x: x %3 ==0, cubes ))

[27, 216, 729]

In [69]:
squares = [ x**2 for x in range(1,11)]

In [70]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
list(filter(lambda x: x >= 30 and x<= 70, squares))

[36, 49, 64]

In [72]:
movies = {
	"Monty Python and the Holy Grail": "Great",
	"Monty Python's Life of Brian": "Good",
	"Monty Python's Meaning of Life": "Okay"
}

In [73]:
squares = list(map(lambda x: x**2, range(10)))

In [74]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
print(movies.items())

[("Monty Python's Life of Brian", 'Good'), ("Monty Python's Meaning of Life", 'Okay'), ('Monty Python and the Holy Grail', 'Great')]

In [76]:
num = range(1,16)

In [77]:
list(filter(lambda x: x % 3==0 or x% 5==0, num))

[3, 5, 6, 9, 10, 12, 15]

In [78]:
garbled = "!XeXgXaXsXsXeXmX XtXeXrXcXeXsX XeXhXtX XmXaX XI"

In [79]:
garbled1 = garbled[::-1];

In [80]:
garbled1

'IX XaXmX XtXhXeX XsXeXcXrXeXtX XmXeXsXsXaXgXeX!'

In [81]:
l = []
for i in garbled1:
    if i != "X":
        l.append(i)
    l1 = "".join(l)

In [82]:
print(l)

['I', ' ', 'a', 'm', ' ', 't', 'h', 'e', ' ', 's', 'e', 'c', 'r', 'e', 't', ' ', 'm', 'e', 's', 's', 'a', 'g', 'e', '!']

In [83]:
"".join(l)

'I am the secret message!'

In [84]:
garbled = "IXXX aXXmX aXXXnXoXXXXXtXhXeXXXXrX sXXXXeXcXXXrXeXt mXXeXsXXXs"

In [85]:
grabled = list(filter(lambda x: x != "X", garbled))

In [86]:
print(5 >> 4)

0

In [87]:
print(5 << 1)

10

In [88]:
9 | 4

13

In [89]:
8 & 4

0

In [90]:
12 ^ 42

38

In [91]:
~88

-89

# Bitwise operation

In [92]:
x = 1245235345345234

In [93]:
hex(x)

'0x46c88f26bcad2'

In [94]:
bin(x)

'0b100011011001000100011110010011010111100101011010010'

In [95]:
oct(x)

'043310436232745322'

In [96]:
i = "My name is Khalid Omer; I am here to teach python and also to helping in becoming better programmers"

In [97]:
i

'My name is Khalid Omer; I am here to teach python and also to helping in becoming better programmers'

In [98]:
complex(2,3)

(2+3j)

In [99]:
t= 799

In [100]:
t.bit_length()

10

In [101]:
k = 40 + 3.124

In [102]:
type(k)

float

In [103]:
num = 1 / 3.0

In [104]:
#string formating

In [105]:
num

0.3333333333333333

In [106]:
"%e" % num

'3.333333e-01'

In [107]:
'%4.2f' % num

'0.33'

In [108]:
"%1.4f" % num

'0.3333'

In [109]:
'{0:08b}'.format(6)

'00000110'

In [110]:
'%.1f' % 2.567, '{0:.2f}'.format(2.567) #round for display

('2.6', '2.57')

In [111]:
10 // 4.0

2.0

In [112]:
0xff

255

In [113]:
8*8*8

512

In [114]:
0o1000

512

In [115]:
0b10010000

144

In [116]:
16+128

144

In [117]:
x = 10; bin(10)

'0b1010'

In [118]:
x << 2

40

In [119]:
0b101000

40

In [120]:
X = 0xff; bin(X)

'0b11111111'

In [121]:
X ^ 0b10101010

85

In [122]:
bin(85)

'0b1010101'

In [123]:
64 & 16

0

In [124]:
bin(64)

'0b1000000'

In [125]:
bin(65)

'0b1000001'

In [126]:
bin(64 & 65)

'0b1000000'

In [127]:
int("11001001",2)

201

In [128]:
shift_right = 0b1100
shift_left = 0b1

# Your code here!
shift_right = shift_right >> 2
shift_left  = shift_left << 2

In [129]:
print (bin(shift_right))

0b11

In [130]:
print (bin(shift_left))

0b100

In [131]:
a = 0b1110; b = 0b0101

In [132]:
int(a)

14

In [133]:
int(b)

5

In [134]:
a & b

4

In [135]:
0b0100

4

In [136]:
print(bin(a&b))

0b100

In [137]:
a = 4; b = 5

In [138]:
a | b

5

In [139]:
a | b

5

In [140]:
a = '{0:08b}'.format(a);a

'00000100'

In [141]:
b = '{0:08b}'.format(b)

In [142]:
zipped = zip(a,b)

In [143]:
l = []
for i,j in zipped:
    if i == "1" or j == "1":
        l.append("1")
    else:
        l.append("0")

In [144]:
i = "".join(l)

In [145]:
int(i)

101

In [146]:
#a | b

In [147]:
bin(2)

'0b10'

In [148]:
~2

-3

In [149]:
~1

-2

In [150]:
a = 0b110

In [151]:
mask = 0b111

In [152]:
desired = a ^ mask

In [153]:
print(bin(desired))

0b1

# Classes

In [154]:
class Fruit(object):
  """A class that makes various tasty fruits."""
  def __init__(self, name, color, flavor, poisonous):
    self.name = name
    self.color = color
    self.flavor = flavor
    self.poisonous = poisonous

  def description(self):
    print ("I'm a %s %s and I taste %s." % (self.color, self.name, self.flavor))

  def is_edible(self):
    if not self.poisonous:
      print ("Yep! I'm edible.")
    else:
      print ("Don't eat me! I am super poisonous.")

lemon = Fruit("lemon", "yellow", "sour", False)

lemon.description()
lemon.is_edible()

I'm a yellow lemon and I taste sour.
Yep! I'm edible.

In [155]:
class animal(object):
    is_alive = True
    health = "good"
    def __init__(self,name,age, is_hungry):
        self.name = name
        self.age = age
        self.is_hungry = is_hungry
    def description(self):
        print(self.name)
        print(self.age)

In [156]:
zebra = animal("Jeffrey", 2, True)
giraffe = animal("Bruce", 1, False)
panda = animal("Chad", 7, True)

In [157]:
zebra.description()

Jeffrey
2

In [158]:
class ShoppingCart(object):
  """Creates shopping cart objects
  for users of our fine website."""
  items_in_cart = {}
  def __init__(self, customer_name):
    self.customer_name = customer_name

  def add_item(self, product, price):
    """Add product to the cart."""
    if not product in self.items_in_cart:
      self.items_in_cart[product] = price
      print product + " added."
    else:
      print product + " is already in the cart."

  def remove_item(self, product):
    """Remove product from the cart."""
    if product in self.items_in_cart:
      del self.items_in_cart[product]
      print product + " removed."
    else:
      print product + " is not in the cart."

1.

Create an instance of ShoppingCart called my_cart. Initialize it with any values you like, then use the add_item method to add an item to your cart.

In [159]:
my_cart = ShoppingCart("khalid")

In [160]:
my_cart.add_item("Sweet", 3)

Sweet added.

In [161]:
class Customer(object):
  """Produces objects that represent customers."""
  def __init__(self, customer_id):
    self.customer_id = customer_id

  def display_cart(self):
    print "I'm a string that stands in for the contents of your shopping cart!"

class ReturningCustomer(Customer):
  """For customers of the repeat variety."""
  def display_order_history(self):
    print "I'm a string that stands in for your order history!"

In [162]:
monty_python = ReturningCustomer("ID: 12345")
monty_python.display_cart()
monty_python.display_order_history()

I'm a string that stands in for the contents of your shopping cart!
I'm a string that stands in for your order history!

In [163]:
class Shape(object):
  """Makes shapes!"""
  def __init__(self, number_of_sides):
    self.number_of_sides = number_of_sides

# Add your Triangle class below!
class Triangle1(Shape):
    def __init__(self, side1, side2, side3):
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3s

In [164]:
class Employee(object):
  def __init__(self, name):
    self.name = name
  def greet(self, other):
    print "Hello, %s" % other.name

class CEO(Employee):
  def greet(self, other):
    print "Get back to work, %s!" % other.name

ceo = CEO("Emily")
emp = Employee("Steve")
emp.greet(ceo)
# Hello, Emily
ceo.greet(emp)
# Get back to work, Steve!

Hello, Emily
Get back to work, Steve!

In [165]:
class Employee(object):
  """Models real-life employees!"""
  def __init__(self, employee_name):
    self.employee_name = employee_name

  def calculate_wage(self, hours):
    self.hours = hours
    return hours * 20.00

# Add your code below!
class PartTimeEmployee(Employee):
    def calculate_wage(self, hours):
        self.hours = hours 
        print(hours * 12.00)
    def full_time_wage(self, hours):
        return super(PartTimeEmployee, self).calculate_wage(hours)

In [166]:
Khalid = PartTimeEmployee("Khalid")
Aisha = Employee("Aisha")
milton = PartTimeEmployee("Milton")

In [167]:
Khalid.calculate_wage(24)

288.0

In [168]:
Aisha.calculate_wage(24)

480.0

In [169]:
milton.full_time_wage(10)

200.0

In [256]:
class Triangle(object):
      number_of_sides = 3
      def __init__(self, angle1, angle2, angle3):
        self.angle1 = angle1
        self.angle2 = angle2
        self.angle3 = angle3
      def check_angles(self):
        if self.angle1 + self.angle2+ self.angle3 == 180:
          return True
        else:
          return False
class Equilateral(Triangle):
    angle = 60
    def __init_(self):
        self.angle1 = self.angle
        self.angle2 = self.angle
        self.angle3 = self.angle

In [257]:
tri = Triangle(50, 60, 70)

In [258]:
tri.check_angles()

True

In [259]:
print(tri.number_of_sides)

3

In [260]:
class Car(object):
    condition = "new"
    def __init__(self, model, color, mpg):
        self.model = model
        self.color = color
        self.mpg = mpg
    def display_car(self):
        return "This is a %s %s with %s MPG." % (self.color, self.model, str(self.mpg))
    def drive_car(self):
        self.condition = "used"

In [261]:
my_car = Car("Delorean", "silver", 88)

In [262]:
my_car.model

'Delorean'

In [263]:
print(my_car.display_car())

This is a silver Delorean with 88 MPG.

In [264]:
my_car.drive_car()

In [265]:
my_car.condition

'used'

In [298]:
class ElectricCar(Car):
    def __init__(self, model, color, mpg, battery_type):
        self.model = model
        self.color = color
        self.mpg = mpg
        self.battery_type = battery_type
    def drive_car(self):
        self.condition = "like new"

In [299]:
mycar = ElectricCar("Gely", "Black", "56", "molten_salt")

In [300]:
mycar.battery_type

'molten_salt'

In [301]:
mycar.condition

'new'

In [302]:
mycar.drive_car()

In [303]:
mycar.condition

'like new'

In [304]:
class Point3d(object):
  def __init__(self, x, y, z):
    self.x = x
    self.y = y
    self.z = z
  def __repr__(self):
    return "(%d, %d, %d)" % (self.x, self.y, self.z)

In [305]:
my_point = Point3d(1,2,3)

In [306]:
print(my_point)

(1, 2, 3)